/* MASTER CSS FILE */

@font-face {
  font-family: AlchemyEdge;
  src: url('type/AlchemyEdge-Regular.woff2') format('woff2'),
       url('type/AlchemyEdge-Regular.woff') format('woff'), url('type/AlchemyEdge-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: AlchemyEdge, sans-serif;
  height: 100vh;
  width: 100vw;
  background: url('imgs/brickBackground.png');

}


h1 {
  font-size: 75px;
  text-align: center;
  line-height: 195px;
  margin-top: 25px;
  margin-bottom: 50px;
}

#header {
  background: url('imgs/streetSignImage.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 60%;
  margin: 0 auto;
}

p {
  font-family: Arial;
  font-size: 20px;
  text-align: left;
  width: 320px;
  height: 300px;
  margin-top: 95px;
  margin-bottom: 30px;
  margin-left: 160px;
  margin-right: 150px;
}

.rowOne{
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  height: 500px;
  width: 100vw;
}

.columnIcon{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 25%;
}

#intro {
  background-image: url('imgs/windowImageFinal2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 540px;
  width: 50%;
}

#laptop {
  background-image: url('imgs/laptopImage.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  align-self: center;
}

#tv {
  background-image: url('imgs/tvIcon.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 260px;
  margin-left: 20px;
  height: 250px;
  width: 300px;
}

#house {
  background-image: url('imgs/houseIcon.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  margin-left: 190px;
  padding-top: 20px;
}

.middleRow {
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  height:400px;
  width: 100vw;

}

#candles {
  background-image: url('imgs/candleImageFinal.png');
  background-size: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 33%;
}

#mirror {
  background-image: url('imgs/mirrorImage.png');
  background-size: 500px;
  background-repeat: no-repeat;
  width: 33%;
  margin-left: auto;
  margin-right: auto;

}

#vases {
  background-image: url('imgs/vasesImageFinal.png');
  background-size: 500px;
  background-repeat: no-repeat;
  height: 350px;
  width: 40%;
  margin-top: 30px;
}

.postcards {
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100vw;
}

#front {
  background-image: url('imgs/postcardFront.png');
  background-size: 500px;
  background-repeat: no-repeat;
  margin-left: 50px;
  height: 500px;
  width: 50%;
}

#back {
  background-image: url('imgs/postcardBack.png');
  background-size: 500px;
  background-repeat: no-repeat;
  margin-left: center;
  margin-right: 40px;
  margin-bottom: 50px;
  margin-left: 150px;
  height: 500px;
  width: 50%;
}

.bottom {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100vw;
}

#red {
  background-image: url('imgs/redLamp.png');
  background-size: 400px;
  background-repeat: no-repeat;
  margin-top: 80px;
  margin-right: 50px;
  height: 400px;
  width:30%;
}

#ending {
  background-image: url('imgs/ending.png');
  background-size: 450px;
  background-repeat: no-repeat;
  height: 400px;
  width:40%;
  margin-top: 175px;
  margin-left: 15px;
}

#green {
  background-image: url('imgs/greenLamp.png');
  background-size: 400px;
  background-repeat: no-repeat;
  height: 400px;
  width: 30%;
  margin-top: 50px;
  margin-right: 40px;
}
